.cart_list > ul {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skeleton_item {
  border: 1px solid #ededed;
  background: #fff;
  padding: 16px 16px 16px 46px;
  border-radius: 8px;
  background: #fff;
}
.skeleton_head {
  display: flex;
  gap: 8px;
}
.skeleton_head > div:nth-of-type(1) {
  width: 64px;
  height: 64px;
}
.skeleton_head > div:nth-of-type(2) {
  flex-grow: 1;
  height: 18px;
}
.skeleton_body {
  height: 96px;
  margin-top: 14px;
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty > img {
  margin-bottom: 12px;
  width: 270px;
}
.empty > p {
  font-size: 14px;
  line-height: 20px;
  color: #bbb8b5;
}

.empty .test_helper {
  font-size: 14px;
  color: #ff5833;
  margin-top: 20px;
}
