.cart_list > ul {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select_manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  margin-bottom: 16px;
}
.select_delete {
  color: #8e8e8e;
  font-size: 12px;
  text-decoration: underline;
}
