.number_stepper {
  width: 102px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #ededed;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
}
.increase,
.decrease {
  display: block;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.counter {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  line-height: 32px;
  flex-grow: 1;
  font-size: 14px;
}
