#possible_purchase_products {
  padding: 10px 0 24px;
}
#best_products {
  padding: 24px 0;
}
#cart_information {
  padding: 24px 18px;
  background: #ededed;
  margin-top: 100px;
}

.select_manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  margin-bottom: 16px;
}
.select_delete {
  color: #8e8e8e;
  font-size: 12px;
  text-decoration: underline;
}
