.container {
  padding: 0 18px;
}
.title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.list {
  display: flex;
  gap: 12px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 33%;
}
.item .head {
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  line-height: 16px;
  height: 32px;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.cost {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
}
.cost .rate {
  color: #ff5833;
}
