.title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 0 18px;
}
.list {
  display: flex;
  padding: 0 18px !important;
}
.slide {
  width: 34% !important;
  margin-left: 12px;
}
.slide:first-of-type {
  margin-left: 0;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item .head {
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}
.item .skeleton_head {
  width: 100%;
  aspect-ratio: 1;
}
.item .skeleton_body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  line-height: 16px;
  height: 32px;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.cost {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 2px;
}
.cost .rate {
  color: #ff5833;
}
.quick_cart_btn {
  width: 32px;
  aspect-ratio: 1;
  position: absolute;
  right: 6px;
  bottom: 6px;
}
.quick_cart_btn > img {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  object-position: center;
}
