.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.checkbox_label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox_label span {
  margin-left: 4px;
  font-size: 14px;
  color: #9d9995;
}

.checkbox_label span.checked {
  color: #46433f;
  font-weight: 700;
}

.information {
  padding-top: 0 18px;
}
.information_head {
  font-size: 16px;
  line-height: 22px;
  color: #46433f;
  font-weight: 700;
}
ul.information_list {
  margin-top: 8px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}
ul.information_list > li {
  color: #8e8e8e;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  padding-left: 12px;
  position: relative;
}
ul.information_list > li::before {
  width: 12px;
  position: absolute;
  top: 0;
  left: 0;
  content: "・";
  text-align: center;
}

.skeleton {
  background-color: #f0f0f0;
  animation: pulse 1.5s infinite ease-in-out;
  border-radius: 4px;
}
@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.button {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 15px;
  background-color: #ff5833;
  color: #fff;
  font-weight: 700;
  font-family: "Pretendard";
}

.sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 500px;
}
